---
import "../styles/global.css";
import "../styles/index.css";
import ProgressBar from "./progressbar.astro";
---

<!-- <html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html> -->


<html>
	<head>
		<link rel="icon" type="image/png" href="/DiET_teaching_blog_hdfs//favicon-h.png"/>
	  </head>
  <body>
	<ProgressBar step={0} total={6} />
    <h1 style="text-align: center;">HDFS Interactive Learning Blog</h1>
    <p>Welcome to my course project. In this blog you will learn what HDFS is and what it is used for, how the block size influences storage requirements and how blocks are stored. Click on next to start the journey!</p>

	<!-- <p>Goals: introduce what this website is about and what are its goals</p> -->

    <!-- <a href="lesson1/">Next</a> -->
	<div class="flex justify-center gap-4 mt-6">

          <a href="lesson1/" class="px-4 py-2 bg-[oklch(0.3816_0.1558_356.93)] text-white rounded-lg hover:bg-[oklch(0.6831_0.1558_356.93)] ml-2">
            Next
          </a>
          
	</div>
	


  </body>
</html>