---
import "../styles/global.css";
import "../styles/index.css";
import ProgressBar from "./progressbar.astro";
---

<html>
  <head>
    <link
      rel="icon"
      type="image/png"
      href="/DiET_teaching_blog_hdfs//favicon-h.png"
    />
  </head>
  <body>
    <h1 style="text-align: center;">Hadoop Distributed File Systems</h1>
    <div class="grid grid-cols-3 gap-8">
      <div class="col-span-1 py-8">
        <p class="py-5">
         
          HDFS is a distributed storage system designed to store very large files 
          that are too big to fit on a single machine, typically ranging from gigabytes (GB) to terabytes (TB). 
          It runs across thousands of machines within a data centre. <br/>

          <h4>Architecture</h4>
          HDFS uses a centralised architecture consisting of a master node, called the NameNode, and thousands of 
          worker nodes known as DataNodes. The NameNode manages the file system's metadata and the DataNodes store the actual data blocks.

          The DataNodes are organised into racks, with multiple racks forming the data centre. 
        </p>

        <p class="mt-2">
          The next page shows how files are split into blocks. 
        </p>
      </div>
      <div class="col-span-2 py-12">
        <img
          src="./architecture.png"
          class="center"
          alt="The architecture of HDFS"
        />
      </div>
    </div>

    <!-- Reference to next page -->
    <div class="flex justify-center gap-4 mt-6">
      <a
        href="lesson2/"
        class="px-4 py-2 bg-[oklch(0.3816_0.1558_356.93)] text-white rounded-lg hover:bg-[oklch(0.6831_0.1558_356.93)] ml-2"
      >
        Next
      </a>
    </div>
  </body>
</html>
