---
import "../styles/global.css";
import "../styles/index.css";
import ProgressBar from "./progressbar.astro";
---

<html>
  <head>
    <link
      rel="icon"
      type="image/png"
      href="/DiET_teaching_blog_hdfs//favicon-h.png"
    />
  </head>
  <body>
    <ProgressBar step={6} total={6} />
    <h1 style="text-align: center;">You have completed the journey! Either go back to the simulation or take the post-evaluation.</h1>

    <div class="flex justify-center gap-4 mt-6">
      <a
        href=".."
        class="px-4 py-2 text-[oklch(0.3816_0.1558_356.93)] rounded-lg hover:bg-[oklch(0.6831_0.1558_356.93)] border-2 border-[oklch(0.3816_0.1558_356.93)]"
      >
        Back Home
      </a>
      <a
        href="../lesson5/"
        class="px-4 py-2 bg-[oklch(0.3816_0.1558_356.93)] text-white rounded-lg hover:bg-[oklch(0.6831_0.1558_356.93)] border-2 border-[oklch(0.3816_0.1558_356.93)]"
      >
        Previous
      </a>
    </div>
  </body>
</html>
