---
import "../styles/global.css";
import "../styles/index.css";
import ProgressBar from "./progressbar.astro";
---


<html>
	<head>
		<link rel="icon" type="image/png" href="/DiET_teaching_blog_hdfs//favicon-h.png"/>
	  </head>
  <body>
	<ProgressBar step={6} total={6} />
    <h1 style="text-align: center;">HDFS Interaction</h1>
    <p>You have completed the journey!</p>

	<div class="flex justify-center gap-4 mt-6">

          <a href=".." class="px-4 py-2 bg-[oklch(0.3816_0.1558_356.93)] text-white rounded-lg hover:bg-[oklch(0.6831_0.1558_356.93)] ml-2">
            Back Home
          </a>
          
	</div>
	


  </body>
</html>