---
import "../styles/global.css";
import "../styles/index.css";
import Animation from "../components/Animation_lesson2.tsx";
import ProgressBar from "./progressbar.astro";
import {Play} from "lucide-react";
import Lesson2Component from "../components/Lesson2.tsx";
---

<html>
  <head>
    <link
      rel="icon"
      type="image/png"
      href="/DiET_teaching_blog_hdfs//favicon-h.png"
    />
  </head>
  <body>
    <ProgressBar step={1} total={4} />
    <h1 style="text-align: center;">Block size</h1>

      <Lesson2Component client:load />


   
   

    <!-- References to previous and next page -->
    <div class="flex justify-center gap-4 mt-6">
      <a
        href=".."
        class="px-4 py-2 text-[oklch(0.3816_0.1558_356.93)] rounded-lg hover:bg-[oklch(0.6831_0.1558_356.93)] border-2 border-[oklch(0.3816_0.1558_356.93)]"
      >
        Back Home
      </a>

      <a
        href="../lesson3/"
        class="px-4 py-2 bg-[oklch(0.3816_0.1558_356.93)] text-white rounded-lg hover:bg-[oklch(0.6831_0.1558_356.93)] border-2 border-[oklch(0.3816_0.1558_356.93)]"
      >
        Next
      </a>
    </div>
  </body>
</html>
