---
import type { loadRenderers } from "astro:container";
import "../styles/global.css";
import "../styles/index.css";
import Animation from "../components/Animation.tsx";
---


<html>
    <head>
		<link rel="icon" type="image/png" href="/DiET_teaching_blog_hdfs//favicon-h.png"/>
	  </head>
  <body>
<h1 style="text-align: center;">HDFS block storage animation</h1>
<p>You have seen what HDFS is, for what it is used for and how a file is split up in blocks and how those are then stored on the DataNodes. Below you see the full animation, where you can select how many files you want to store, to which DataNode you connect to and how the storages looks like and where the blocks are placed. You can now try different scenarios and see what happens.</p>

<p>goal: whole animation to play</p>


<Animation client:load/>
    <!-- <a href="..">Back Home</a>
    <a href="../lesson4/">Go to previous lesson</a> -->
    <div class="flex justify-center gap-4 mt-6">
    <a href=".." class="px-4 py-2 bg-[oklch(0.3816_0.1558_356.93)] text-white rounded-lg hover:bg-[oklch(0.6831_0.1558_356.93)] ml-2">
        Back Home
      </a>
      
      <a href="../lesson4/" class="px-4 py-2 bg-[oklch(0.3816_0.1558_356.93)] text-white rounded-lg hover:bg-[oklch(0.6831_0.1558_356.93)] ml-2">
        Previous
      </a>
      
      </div>
  </body>
</html>