---
import "../styles/global.css";
---

<html>
  <body>
    <h1>Lesson 1: Introduction to HDFS</h1>

    <p>This lesson explains the basics of HDFS.</p>

    <a href="/">Back Home</a>
  </body>
</html>