---
import "../styles/global.css";
const { step = 0, total = 1 } = Astro.props;

const percent = Math.round((step / total) * 100);
---
<div class="progress-wrapper">
    <div class="progress-bar">
      <div
        class="progress-fill"
        style={`width: ${percent}%`}
      >
        <span class="progress-text">{percent}%</span>
      </div>
    </div>
  </div>
